<div class="row" ng-controller="StatusmanagerController"  >

<div class="row">
	<div class="col-md-5 text-right">
		  &nbsp;
	</div>
	<div class="col-md-2 text-right">
		  <input class="form-control" type="text" value="" ng-model="spaginate.search" />
	</div>
	<div class="col-md-1 text-left">
		<button class="btn btn-primary" ng-click="search();">Search</button>
	</div>
	<div class="col-md-1 text-left">
		<button class="btn btn-primary" ng-click="reset();">Reset</button>
	</div>
	<div class="col-md-1 text-left">
		  <a bt-acl field="CREATE_STATUS"  acl="access_control" class="btn btn-primary" href="#/{{pages.CREATE_STATUS}}">Add Status</a>	
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-push-1">
	<h2>All Status</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-9 col-md-push-1">	
	<table class="table table-hover" ng-init="liststatuses();">
		<thead>
			<tr>
			  <th>#</th>
			  <th>Name</th>
			  <th>Options</th>
			</tr>
		  </thead>
		  <tbody >
		   
			<tr ng-if="nodata==''" ng-repeat="list in user_lists">
			  <td>{{list.id}}</td>
			  <td><a href="#/{{pages.LIST_TASK}}/1?status_id={{list.id}}">{{list.name}}</a></td>
			  <td><a ng-if="user_details.id == list.created_by" bt-acl field="EDIT_STATUS"  acl="access_control" href="#/{{pages.EDIT_STATUS}}/{{list.id}}" title="edit" alt="edit"><span  class="glyphicon glyphicon-pencil"></span></a>&nbsp;<a ng-if="user_details.id == list.created_by || user_details.id == 0" bt-acl field="DELETE_STATUS"  acl="access_control" href="javascript:;" ng-click="removeStatus(list.id);"  title="remove" alt="remove"><span  class="glyphicon glyphicon-remove"></span></a><span ng-if="list.created_by != user_details.id">READ ONLY ITEMS</span></td>
			</tr>
			<tr ng-if="nodata!=''"><td colspan="3" class="text-center"><b>{{nodata}}</b></td></tr>
		</tbody>
	</table>
	</div>
</div>
	<div class="row">
		<div class="col-md-4 col-md-push-1">
			<bt-paginate paginate="spaginate"></bt-paginate>
		</div>
		<div class="col-md-3 text-right"><b>Per Page:</b></div>
		<div class="col-md-3">
			<select class="form-control" ng-change="change_perpage();" ng-model="spaginate.per_page">
			<option value="3">3</option>
			<option value="6">6</option>
			<option value="9">9</option>
			</select>
		</div>
	</div>

</div>
