<div class="row" ng-controller="TaskmanagerController"   >



<div class="row">
	
	
	<ng-include ng-init="gettasktypes(); getusers();getstatuss(); getprojects(); getprioritys(); getmilestones();" src="'templates/common/task_filter.html?t=335'"></ng-include>

	<div class="col-md-9">
	<h2>All Tasks</h2><a bt-acl field="CREATE_TASK"  acl="access_control" class="btn btn-primary text-right" href="#/{{pages.CREATE_TASK}}">Add Task</a>	
	
	<table class="table table-hover" ng-init="listtasks();">
		<thead>
			<tr>
			  <th>#</th>
			  <th>Title</th>
			  <th>Assigned To</th>
			  <th>Created By</th>
			  <th>Project</th>
			  <th>Status</th>
			  <th>Priority</th>
			  <th>Type</th>
			  <th>Options</th>
			</tr>
		  </thead>
		  <tbody >
		   
			<tr ng-if="nodata==''" ng-repeat="list in user_lists">
			  <td>{{list.id}}</td>
			  <td><a href="#/{{pages.VIEW_TASK}}/{{list.id}}">{{list.name}}</a></td>
			  <td>{{list.username}}</td>
			  <td>{{list.created_by}}</td>
			  <td>{{list.project_name}}</td>
			  <td>{{list.status_name}}</td>
			   <td>{{list.priority_name}}</td>
			  <td>{{list.task_name}}</td>
			  
			  <td><a bt-acl field="EDIT_TASK"  acl="access_control" href="#/{{pages.EDIT_TASK}}/{{list.id}}" title="edit" alt="edit"><span  class="glyphicon glyphicon-pencil"></span></a>&nbsp;<a bt-acl field="DELETE_TASK"  acl="access_control" href="javascript:;" ng-click="removeTask(list.id);"  title="remove" alt="remove"><span  class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
			<tr ng-if="nodata!=''"><td colspan="3" class="text-center"><b>{{nodata}}</b></td></tr>
		</tbody>
	</table>
	<div class="col-md-8">
		<bt-paginate paginate="spaginate"></bt-paginate>
	</div>
			<ng-include src="'templates/common/per_page.html'"></ng-include>
	</div>
	</div>
</div>
	<div class="row">
		<div class="col-md-4 col-md-push-1">
			
		</div>
		<div class="col-md-3 text-right"><b>Per Page:</b></div>
		<div class="col-md-3">
			
		</div>
	</div>

</div>
