<div class="row" ng-controller="TicketController">

<div class="col-md-6 col-md-push-2" ng-init='listTicket();'>
<h2>My Tickets</h2>
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Assigned To</th>
          <th>Date</th>
		  <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="list in tickets|paginate:spaginate.currentpage:3">
          <td>{{$index+1}}</td>
          <td>{{list.title}}</td>
          <td>{{list.assigned_to}}</td>
		   <td>{{list.created_date}}</td>
          <td><a href="#/addticket/{{list.id}}" class="btn">Edit</a>&nbsp;
		  <a href="#/ticketdetail/{{list.id}}" class="btn">View</a></td>
        </tr>       
      </tbody>
    </table>

</div>
<div class="col-md-3 col-md-offset-6" >

	<!-- For Regular RESTful  Pagination -->
		<!--ng-paginate paginate="paginate"  pageurl="listticket" ></ng-paginate-->
	<!-- For Regular RESTful Pagination -->
	
	<!-- For Simplified Pagination -->
		<ng-spaginate spaginate="spaginate"  pageurl="listticket" ></ng-spaginate>
		
	<!-- For Simplified Pagination -->
	
</div>
</div>

<!--
totalpage="{{paginate.totalpage}}" currentpage="{{paginate.currentpage}}" nextpage="{{paginate.nextpage}}" prevpage="{{paginate.prevpage}}"
-->