<div class="row">
	<div class="col-md-6" ng-controller="TaskmanagerController">	
	
	<div class="panel panel-primary">
  <div class="panel-heading">My Tasks</div>
  <div class="panel-body">
	<table class="table table-hover" ng-init="listtasks(10,user_details.id,'3,6',0);">
		<thead>
			<tr>
			  <th>#</th>
			  <th>Title</th>			  
			  <th>Status</th>
			  <th>Type</th>			 
			</tr>
		  </thead>
		  <tbody >
		   
			<tr ng-if="nodata==''" ng-repeat="list in user_lists">
			  <td>{{list.id}}</td>
			  <td><a href="#/{{pages.VIEW_TASK}}/{{list.id}}">{{list.name}}</a></td>			 
			  <td>{{list.status_name}}</td>
			  <td>{{list.task_name}}</td>			  
			 
			</tr>
			<tr ng-if="nodata!=''"><td colspan="3" class="text-center"><b>{{nodata}}</b></td></tr>
		</tbody>
	</table>
	</div>
</div>
	</div>
	
	<div class="col-md-6" ng-controller="ProjectsController">	
	
	<div class="panel panel-primary">
  <div class="panel-heading">My Projects</div>
  <div class="panel-body">
	<table class="table table-hover" ng-init="listProjects(10,user_details.id,0);">
		<thead>
			<tr>
			  <th>#</th>
			  <th>Title</th>
			</tr>
		  </thead>
		  <tbody >
		   
			<tr ng-if="nodata==''" ng-repeat="project in projects">
			  <td>{{project.id}}</td>
			  <td><a href="#/{{pages.VIEW_PROJECT}}/{{project.id}}">{{project.title}}</a></td>			  	  
			</tr>
			<tr ng-if="nodata!=''"><td colspan="3" class="text-center"><b>{{nodata}}</b></td></tr>
		</tbody>
	</table>
	</div>
</div>
	</div>
</div>