<div class="page-header">
        <h1>Learning Angular</h1>

        <div class="bs-glyphicons col-md-12">
			<ul class="bs-glyphicons-list">
				
				
				<li ng-click="router(pages.LIST_USER,'1')" bt-acl field="LIST_USER"  acl="access_control">
				  <span class="glyphicon glyphicon-user"></span>
				  <span class="glyphicon-class">Users</span>				
				</li>
				
				<li ng-click="router(pages.LIST_PROJECT,'1')" bt-acl field="LIST_PROJECT"  acl="access_control">
				  <span class="glyphicon glyphicon-folder-open"></span>
				  <span class="glyphicon-class">Projects</span>
				</li>
				
				<li ng-click="router(pages.LIST_USERTYPE,'1')" bt-acl field="LIST_USERTYPE"  acl="access_control">
				  <span class="glyphicon glyphicon-user"></span>
				  <span class="glyphicon-class">User Type</span>
				</li>
				
				<li style="clear:both;" ng-click="router(pages.LIST_TASK,'1')" bt-acl field="LIST_TASK"  acl="access_control">
				  <span class="glyphicon glyphicon-th-list"></span>
				  <span class="glyphicon-class">Tasks</span>
				</li>
				
				<li ng-click="router(pages.LIST_TASKTYPE,'1')" bt-acl field="LIST_TASKTYPE"  acl="access_control">
				  <span class="glyphicon glyphicon-th-list"></span>
				  <span class="glyphicon-class">Tasks Types</span>
				</li>
				
				<li ng-click="router(pages.LIST_STATUS,'1')" bt-acl field="LIST_STATUS"  acl="access_control">
				  <span class="glyphicon glyphicon-list-alt"></span>
				  <span class="glyphicon-class">Status</span>
				</li>
			
			</ul>
		</div>

      </div>

	  
	  
<div class="jumbotron text-center">
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>
    
    <a ui-sref=".list" class="btn btn-primary">List</a>
    
</div>

<div ui-view></div>
      
